extends layout

block content
  h1 Log In
  form(action="/auth/log-in" method="POST")
    div
      label(for="username") Username :
      input(type="text" name="username" required)
    div
      label(for="password") Password:
      input(type="password" name="password" required)
    div
      button(type="submit") Log In
  if errors
    ul
      each error in errors
        li= error.msg

  a(href='/') Homepage 
  a(href='/auth/sign-up') Sign Up